# dependencies
node_modules

# build outputs
dist
build
out

# coverage / test artifacts
coverage
.nyc_output

# caches
.vite
.eslintcache
.cache
.tmp
.temp

# env files
.env
.env.*
!.env.example

# logs
*.log

# lockfiles (valgfritt – kan også fjernes hvis du vil at prettier skal sjekke dem)
package-lock.json
pnpm-lock.yaml
yarn.lock

# misc generated / bundled files
*.min.*
*.bundle.*
